@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;

}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #363636;
    line-height: 1.6;
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}

.code-inline {
    background-color: #d0ecb0;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

/* Header Styles */
header.header {
    background-color: #ffffff;
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
    font-weight: 700;
    color: #333;
}

/* Navigation Styles */
nav.nav-bar-section ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav.nav-bar-section ul li {
    margin: 0 15px;
}

nav.nav-bar-section a {
    font-weight: 600;
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav.nav-bar-section a:hover {
    color: #77d30f;
}

/* Hero Section Styles */
.hero-section {
    background-color: #d0ecb0;
    padding: 70px 20px;
    text-align: center;
    border-bottom: 2px solid #4c8f00;
}

.hero-image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.hero-section h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.hero-section p {
    font-size: 1.3em;
    color: #666;
}

/* Games Section Styles */
.games-section {
    display: flex;
    flex: 3;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
    background-color: #ffffff;
}

.game-card {
    background-color: #ffffff;
    padding: 25px;
    width: 25%;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px #77d30f;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 0.8em;
}

.game-card h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: 600;
    color: #333;
}

.game-card p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 25px;
}

.play-button {
    background-color: #77d30f;
    color: #3f3f3f;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.play-button:hover {
    background-color: #77d30f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
footer.footer {
    background-color: #d0ecb0;
    color: #666;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    border-top: 2px solid #4c8f00;
}

footer a {
    color: #4c8f00;
}

/* Responsive Design */
@media (max-width: 768px) {
    .game-card {
        width: 45%;
    }

    .hero-section h2 {
        font-size: 2em;
    }
}

@media (max-width: 576px) {
    .game-card {
        width: 100%;
    }

    nav.nav-bar-section a {
        display: block;
        margin: 10px 0;
    }

    .hero-section h2 {
        font-size: 1.8em;
    }
}
