/* Basic Styles */
body {
	background: #2E2C2C;
	width: 800px;
	margin: 0 auto;
	font-family: monospace;
	color: #fff;
}

h1 {
	text-transform: uppercase;
	font-size: 42px;
}

span {
	font-size: 20px;
	color: #FF3333;
}

a{	
	margin-top: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	background: #3F8C67;
	height: 5px;
	width: auto;
	padding: 5px;
	border: 2px solid #00FF86;
}

a:hover {
	color: #FF3333;
}